@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root {
    --cor-de-fundo: #1E1E1E;
    --verde: #6FFF57;
    --bronco: #FFFFFF;
    --botao-ativo: #3A375E;
    --botao-intivo: rgba(58, 55, 94, 0.5);
    --texto-fundo: rgba(58, 55, 94, 0.3);
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--bronco);
    font-size: 'chakra Patch', sans-serif;
}
 .botao.ativo{
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--verde);
}

